/* CSS */
/*@import url("./node_modules/normalize.css/normalize.css");*/
@import url("reset.css");
@import url("vars.css");
body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: "Didact Gothic", sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  color: var(--color-on-surface);
  background-color: var(--color-background);
}
/* typography */
h1,
h2,
h3,
h4 {
  color: var(--color-primary);
  font-family: "League Gothic", sans-serif;
  font-weight: 400;
  margin-bottom: 0.5em;
  text-align: center;
}
h1 {
  font-size: var(--heading-h1-size);
  line-height: var(--heading-h1-leading);
}
h2 {
  font-size: var(--heading-h2-size);
  line-height: var(--heading-h2-leading);
}
h3 {
  font-size: var(--heading-h3-size);
  line-height: var(--heading-h3-leading);
}
h4 {
  font-size: var(--heading-h4-size);
  line-height: var(--heading-h4-leading);
}
p {
  margin-bottom: 0.5em;
}
p strong {
  font-weight: bold;
}
/* section */
section {
  padding: 4rem 2rem;
}
section:nth-child(odd) {
  background-color: var(--color-surface);
}
/* header */
header {
  width: 100%;
  color: var(--color-on-secondary);
  background-color: var(--color-secondary);
  padding: 0.68rem 2rem;
  font-size: 1rem;
  text-align: center;
}
header a {
  color: var(--color-on-primary);
  text-decoration: none;
  padding: 0 1em;
}
header a:hover {
  color: var(--color-on-primary-20);
}
/* nav */
nav {
  width: 100%;

  color: var(--color-on-primary);
  background-color: var(--color-primary);
  padding: 1rem 2rem;
  font-size: 1.5rem;
  text-align: center;
}
nav li {
  display: inline-block;
  padding-right: 0.3em;
}
nav li:last-child {
  padding-right: 0;
}
nav a {
  color: var(--color-on-primary);
  text-decoration: none;
  padding: 0 1em;
}
nav a:hover {
  color: var(--color-on-primary-20);
}
/* search */
input,
input,
button {
  margin: 0.8em 0.2em 0.8em 0.2em;
  font-family: "Didact Gothic", sans-serif;
}
label {
  margin-left: 2rem;
}
input {
  padding: 0.5em;
}
button {
  padding: 0.5em 1em;
  background-color: var(--color-surface);
  font-weight: bold;
  letter-spacing: 0.07em;
}
button:hover {
  background-color: var(--color-on-surface);
  color: var(--color-surface);
}
/* img */
.section-with-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
.section-with-img h1 {
  flex-basis: 100%;
}
.section-with-img img {
  width: 50vw;
}
.section-with-img p {
  font-size: var(--heading-h4-size);
  line-height: var(--heading-h4-leading);
}
/* video */
section video {
  width: 100%;
}
/* form */
form {
  width: 68vw;
  margin: 0 auto;
}
form fieldset {
  text-align: center;
}
form legend {
  font-size: var(--heading-h4-size);
  line-height: var(--heading-h4-leading);
  margin-bottom: 1em;
}
form p {
  text-align: center;
}
form label[for="self"] {
  margin-left: 0;
}
form div label {
  display: block;
  text-align: left;
  margin-left: 0.25rem;
}
form div input {
  width: 100%;
  font-size: 1.2rem;
  margin-top: 0.25rem;
}

form input[type="submit"] {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.07em;
  padding: 0.68em 4em;
  border-radius: 100px;
  border: none;
  margin: 2rem auto;
  display: block;
}
form input[type="submit"]:hover {
  background-color: var(--color-on-surface);
  color: var(--color-surface);
}
